.link {
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
    color: var(--color-primary-dark);
    transition: color .3s;

    &:hover {
        color: var(--color-brand);
    }
}